{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>{{ time_now }}</h3>
    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Описание
                </td>
                <td>
                   Краткое содержание
                </td>
                <td>
                   Автор
                </td>
            </tr>
        {% for post in news %}
            <tr>
                <td>
                    {{ post.header }}
                </td>
                <td>
                    {{ post.created_time|date:"d-m-Y" }}
                </td>
                <td>
                    {{ post.text|truncatechars:50 }}
                </td>
                <td>
                    {{ post.author }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}